@import url(https://fonts.googleapis.com/css?family=Russo+One:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "Russo One";
  font-size: 1.375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Russo One";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 91.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50
}
.header__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5625rem;
  text-align: center;
  color: #fff;
  padding-top: .625rem;
  padding-bottom: .625rem
}
.header__logo img {
  width: 100%
}
.header__name {
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center
}
.header__title {
  font-size: 2.8125rem
}
.footer {
  position: relative;
  background-color: #333087;
  overflow: hidden
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/stars.webp) top/contain no-repeat
}
.footer::after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/sky.webp) bottom/contain no-repeat
}
.footer__container {
  color: #fff
}
.footer__top {
  display: none
}
.footer__title {
  text-transform: uppercase;
  text-align: center
}
.footer__fine {
  display: flex;
  align-items: end;
  text-align: center
}
.footer__fine:not(:last-child) {
  margin-bottom: 3.125rem
}
.footer__item {
  flex: 0 1 50%
}
.footer__picture:not(:last-child) {
  margin-bottom: 1.875rem
}
.footer__picture img {
  width: 100%
}
.footer__slogan {
  text-transform: capitalize
}
.footer__bottom {
  position: relative;
  z-index: 2
}
.footer__subtitle {
  text-align: center
}
.footer__subtitle span {
  text-transform: uppercase
}
.description {
  display: grid;
  row-gap: 1.25rem
}
.description__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem
}
.description__title {
  grid-column: span 2;
  color: #ee7601
}
.description__content {
  min-height: 3.125rem;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ee7601;
  border-radius: .3125rem;
  text-transform: capitalize
}
.page__hero {
  position: relative;
  background-color: #333087
}
.page__hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: url(../img/stars.webp) top/cover no-repeat
}
.hero__container {
  color: #fff
}
.hero__main {
  position: relative;
  z-index: 2
}
.hero__blanket {
  width: 100%
}
.hero__blanket--left {
  display: none
}
.hero__bottom {
  position: relative;
  background-color: #333087;
  z-index: 2
}
.hero__item {
  text-align: center
}
.hero__text {
  line-height: 1.3
}
.hero__subtitle:not(:last-child) {
  margin-bottom: .9375rem
}
.hero__icon {
  display: grid
}
.hero__picture {
  justify-self: center;
  width: 5rem;
  height: 5rem
}
.hero__picture img {
  width: 100%
}
.review__info {
  display: grid;
  row-gap: 1.25rem
}
.banner:not(:last-child) {
  margin-bottom: 1.875rem
}
.banner__picture {
  position: relative;
  text-align: center;
  padding: 2.5rem
}
.banner__img {
  width: 100%
}
.banner__img--tablet {
  display: none
}
.banner__img--desctop {
  display: none
}
.banner__text {
  position: absolute;
  text-transform: capitalize
}
.banner__text--one {
  top: -1.875rem;
  right: 10%;
  max-width: 9.375rem
}
.banner__text--two {
  bottom: 3.125rem;
  right: 10%
}
.characteristics {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.25rem;
  text-align: center
}
.characteristics__picture {
  width: 13.75rem;
  height: 13.75rem
}
.characteristics__picture img {
  width: 100%
}
.characteristics__title {
  color: #ee7601
}
@media (min-width:29.99875em) {
  .banner__text--one {
    right: 20%
  }
  .banner__text--two {
    bottom: 5rem;
    right: 20%
  }
}
@media (min-width:47.99875em) {
  .header__container {
    flex-direction: row
  }
  .header__logo {
    flex: 0 1 20%
  }
  .footer__top {
    position: relative;
    display: block;
    z-index: 2
  }
  .footer__top:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .hero__main {
    display: grid;
    grid-template-columns: 1fr 1fr
  }
  .hero__blanket--left {
    position: relative;
    display: block;
    margin-left: 6.25rem;
    z-index: 2
  }
  .hero__item {
    display: flex;
    text-align: start
  }
  .hero__text {
    flex: 0 1 50%
  }
  .hero__icon {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .banner__img--mobile {
    display: none
  }
  .banner__text--one {
    max-width: 100%;
    top: -.625rem;
    right: 10%
  }
  .banner__text--two {
    bottom: 4.375rem;
    right: 10%
  }
  .characteristics {
    flex-direction: row;
    text-align: start;
    justify-content: space-around
  }
  .characteristics:nth-child(even) {
    flex-direction: row-reverse
  }
  .characteristics__picture {
    flex: 0 1 auto
  }
  .characteristics__content {
    flex: 0 1 60%
  }
}
@media (min-width:47.99875em) and (min-width:91.875em) {
  .header__container {
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
  .hero__blanket--right {
    margin-left: -6.25rem
  }
  .hero__blanket--right {
    margin-top: -6.25rem
  }
}
@media (min-width:61.99875em) {
  .header__title {
    font-size: 3.125rem
  }
  .hero__text {
    padding-left: 5rem
  }
  .hero__icon {
    padding-left: 5rem
  }
  .hero__picture {
    width: 6.875rem;
    height: 6.875rem
  }
  .banner__picture {
    padding: 0 18.75rem 0 0
  }
  .banner__img--desctop {
    display: block
  }
  .banner__text--one {
    top: 30%;
    right: 10%
  }
  .banner__text--two {
    bottom: 15%;
    right: 20%
  }
}
@media (min-width:71.25em) {
  .header__title {
    font-size: 4.375rem
  }
}
@media (min-width:81.25em) {
  .header__title {
    font-size: 5.1875rem
  }
}
@media (min-width:91.875em) {
  .header__label {
    font-size: 3.875rem
  }
  .footer {
    padding-top: 5rem
  }
  .footer {
    padding-bottom: 18.75rem
  }
  .footer__title {
    font-size: 4.8125rem
  }
  .footer__title:not(:last-child) {
    margin-bottom: 2.9375rem
  }
  .footer__picture {
    padding-left: 3.75rem
  }
  .footer__picture {
    padding-right: 3.75rem
  }
  .footer__slogan {
    font-size: 3.25rem
  }
  .footer__subtitle {
    font-size: 3.25rem
  }
  .footer__subtitle span {
    font-size: 4.5rem
  }
  .description__title {
    font-size: 2.625rem
  }
  .description__content {
    font-size: 2.3125rem
  }
  .description__content {
    font-size: 2.3125rem
  }
  .page__hero {
    padding-top: 15.625rem
  }
  .page__hero {
    padding-bottom: 4.6875rem
  }
  .page__review {
    padding-top: 5.625rem
  }
  .page__review {
    padding-bottom: 5rem
  }
  .hero__main {
    padding-top: 6.25rem
  }
  .hero__main:not(:last-child) {
    margin-bottom: 5.625rem
  }
  .hero__item:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .hero__text p {
    font-size: 2.3125rem
  }
  .hero__subtitle {
    font-size: 3.25rem
  }
  .hero__icon p {
    font-size: 2.3125rem
  }
  .banner__text {
    font-size: 2.3125rem
  }
  .characteristics__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .characteristics__title:not(:last-child) {
    font-size: 4.375rem
  }
  .characteristics__text p {
    font-size: 2.3125rem
  }
}
@media (min-width:64em) {
  .description__content {
    min-height: 5rem
  }
}
@media (min-width:65em) {
  .header__title {
    font-size: 3.75rem
  }
}
@media (max-width:20em) {
  .header__label {
    font-size: 1.5625rem
  }
  .footer {
    padding-top: 2.1875rem
  }
  .footer {
    padding-bottom: 6.25rem
  }
  .footer__picture {
    padding-left: .0000000625rem
  }
  .footer__picture {
    padding-right: .0000000625rem
  }
  .footer__subtitle {
    font-size: 1.5625rem
  }
  .footer__subtitle span {
    font-size: 2.3125rem
  }
  .description__content {
    font-size: 1.875rem
  }
  .page__hero {
    padding-bottom: 2.8125rem
  }
  .page__review {
    padding-top: 4.6875rem
  }
  .page__review {
    padding-bottom: 1.875rem
  }
  .hero__main {
    padding-top: 5rem
  }
  .hero__main:not(:last-child) {
    margin-bottom: 2.8125rem
  }
  .hero__item:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .hero__text p {
    font-size: 1.25rem
  }
  .hero__subtitle {
    font-size: 1.5625rem
  }
  .hero__icon p {
    font-size: 1.25rem
  }
  .banner__text {
    font-size: 1.125rem
  }
  .characteristics__title:not(:last-child) {
    margin-bottom: .9375rem
  }
  .characteristics__title:not(:last-child) {
    font-size: 1.5625rem
  }
  .characteristics__text p {
    font-size: 1.125rem
  }
}
@media (max-width:47.99875em) {
  .header__name {
    max-width: 13.75rem
  }
  .footer__title {
    font-size: 2.8125rem
  }
  .footer__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .footer__slogan {
    font-size: 2.1875rem
  }
  .description__title {
    font-size: 1.875rem
  }
  .description__content {
    font-size: 1.875rem
  }
  .page__hero {
    padding-top: 7.5rem
  }
  .page__hero {
    padding-top: 37.5rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 2.8125rem
  }
  .hero__icon:not(:last-child) {
    margin-bottom: 2.8125rem
  }
}
@media (min-width:47.99875em) and (min-width:20em) and (max-width:91.875em) {
  @supports ((-moz-column-gap:clamp(2.8125rem ,2.2038043478rem + 3.0434782609vw ,5rem)) or (column-gap:clamp(2.8125rem ,2.2038043478rem + 3.0434782609vw ,5rem))) {
    .header__container {
      -webkit-column-gap: clamp(2.8125rem ,2.2038043478rem + 3.0434782609vw ,5rem);
      -moz-column-gap: clamp(2.8125rem ,2.2038043478rem + 3.0434782609vw ,5rem);
      column-gap: clamp(2.8125rem ,2.2038043478rem + 3.0434782609vw ,5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(2.8125rem ,2.2038043478rem + 3.0434782609vw ,5rem)) or (column-gap:clamp(2.8125rem ,2.2038043478rem + 3.0434782609vw ,5rem))) {
    .header__container {
      -webkit-column-gap: calc(2.8125rem + 2.1875 * (100vw - 20rem)/ 71.875);
      -moz-column-gap: calc(2.8125rem + 2.1875 * (100vw - 20rem)/ 71.875);
      column-gap: calc(2.8125rem + 2.1875 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (margin-left:clamp(-6.25rem ,0.1413043478rem + -6.9565217391vw ,-1.25rem)) {
    .hero__blanket--right {
      margin-left: clamp(-6.25rem ,.1413043478rem + -6.9565217391vw ,-1.25rem)
    }
  }
  @supports not (margin-left:clamp(-6.25rem ,0.1413043478rem + -6.9565217391vw ,-1.25rem)) {
    .hero__blanket--right {
      margin-left: calc(-1.25rem + -5 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (margin-top:clamp(-6.25rem ,0.1413043478rem + -6.9565217391vw ,-1.25rem)) {
    .hero__blanket--right {
      margin-top: clamp(-6.25rem ,.1413043478rem + -6.9565217391vw ,-1.25rem)
    }
  }
  @supports not (margin-top:clamp(-6.25rem ,0.1413043478rem + -6.9565217391vw ,-1.25rem)) {
    .hero__blanket--right {
      margin-top: calc(-1.25rem + -5 * (100vw - 20rem)/ 71.875)
    }
  }
}
@media (min-width:47.99875em) and (max-width:20em) {
  .header__container {
    -webkit-column-gap: 2.8125rem;
    -moz-column-gap: 2.8125rem;
    column-gap: 2.8125rem
  }
  .hero__blanket--right {
    margin-left: -1.25rem
  }
  .hero__blanket--right {
    margin-top: -1.25rem
  }
}
@media (min-width:20em) and (max-width:91.875em) {
  @supports (font-size:clamp(1.5625rem ,0.9190217391rem + 3.2173913043vw ,3.875rem)) {
    .header__label {
      font-size: clamp(1.5625rem ,.9190217391rem + 3.2173913043vw ,3.875rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,0.9190217391rem + 3.2173913043vw ,3.875rem)) {
    .header__label {
      font-size: calc(1.5625rem + 2.3125 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-top:clamp(2.1875rem ,1.4048913043rem + 3.9130434783vw ,5rem)) {
    .footer {
      padding-top: clamp(2.1875rem ,1.4048913043rem + 3.9130434783vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(2.1875rem ,1.4048913043rem + 3.9130434783vw ,5rem)) {
    .footer {
      padding-top: calc(2.1875rem + 2.8125 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-bottom:clamp(6.25rem ,2.7717391304rem + 17.3913043478vw ,18.75rem)) {
    .footer {
      padding-bottom: clamp(6.25rem ,2.7717391304rem + 17.3913043478vw ,18.75rem)
    }
  }
  @supports not (padding-bottom:clamp(6.25rem ,2.7717391304rem + 17.3913043478vw ,18.75rem)) {
    .footer {
      padding-bottom: calc(6.25rem + 12.5 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-left:clamp(0.0000000625rem ,-1.043478181rem + 5.2173912174vw ,3.75rem)) {
    .footer__picture {
      padding-left: clamp(.0000000625rem ,-1.043478181rem + 5.2173912174vw ,3.75rem)
    }
  }
  @supports not (padding-left:clamp(0.0000000625rem ,-1.043478181rem + 5.2173912174vw ,3.75rem)) {
    .footer__picture {
      padding-left: calc(.0000000625rem + 3.7499999375 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-right:clamp(0.0000000625rem ,-1.043478181rem + 5.2173912174vw ,3.75rem)) {
    .footer__picture {
      padding-right: clamp(.0000000625rem ,-1.043478181rem + 5.2173912174vw ,3.75rem)
    }
  }
  @supports not (padding-right:clamp(0.0000000625rem ,-1.043478181rem + 5.2173912174vw ,3.75rem)) {
    .footer__picture {
      padding-right: calc(.0000000625rem + 3.7499999375 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(1.5625rem ,1.0929347826rem + 2.347826087vw ,3.25rem)) {
    .footer__subtitle {
      font-size: clamp(1.5625rem ,1.0929347826rem + 2.347826087vw ,3.25rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,1.0929347826rem + 2.347826087vw ,3.25rem)) {
    .footer__subtitle {
      font-size: calc(1.5625rem + 1.6875 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(2.3125rem ,1.7038043478rem + 3.0434782609vw ,4.5rem)) {
    .footer__subtitle span {
      font-size: clamp(2.3125rem ,1.7038043478rem + 3.0434782609vw ,4.5rem)
    }
  }
  @supports not (font-size:clamp(2.3125rem ,1.7038043478rem + 3.0434782609vw ,4.5rem)) {
    .footer__subtitle span {
      font-size: calc(2.3125rem + 2.1875 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.7532608696rem + 0.6086956522vw ,2.3125rem)) {
    .description__content {
      font-size: clamp(1.875rem ,1.7532608696rem + .6086956522vw ,2.3125rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.7532608696rem + 0.6086956522vw ,2.3125rem)) {
    .description__content {
      font-size: calc(1.875rem + .4375 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-bottom:clamp(2.8125rem ,2.2907608696rem + 2.6086956522vw ,4.6875rem)) {
    .page__hero {
      padding-bottom: clamp(2.8125rem ,2.2907608696rem + 2.6086956522vw ,4.6875rem)
    }
  }
  @supports not (padding-bottom:clamp(2.8125rem ,2.2907608696rem + 2.6086956522vw ,4.6875rem)) {
    .page__hero {
      padding-bottom: calc(2.8125rem + 1.875 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-top:clamp(4.6875rem ,4.4266304348rem + 1.3043478261vw ,5.625rem)) {
    .page__review {
      padding-top: clamp(4.6875rem ,4.4266304348rem + 1.3043478261vw ,5.625rem)
    }
  }
  @supports not (padding-top:clamp(4.6875rem ,4.4266304348rem + 1.3043478261vw ,5.625rem)) {
    .page__review {
      padding-top: calc(4.6875rem + .9375 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.0054347826rem + 4.347826087vw ,5rem)) {
    .page__review {
      padding-bottom: clamp(1.875rem ,1.0054347826rem + 4.347826087vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.0054347826rem + 4.347826087vw ,5rem)) {
    .page__review {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-top:clamp(5rem ,4.652173913rem + 1.7391304348vw ,6.25rem)) {
    .hero__main {
      padding-top: clamp(5rem ,4.652173913rem + 1.7391304348vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(5rem ,4.652173913rem + 1.7391304348vw ,6.25rem)) {
    .hero__main {
      padding-top: calc(5rem + 1.25 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (margin-bottom:clamp(2.8125rem ,2.0298913043rem + 3.9130434783vw ,5.625rem)) {
    .hero__main:not(:last-child) {
      margin-bottom: clamp(2.8125rem ,2.0298913043rem + 3.9130434783vw ,5.625rem)
    }
  }
  @supports not (margin-bottom:clamp(2.8125rem ,2.0298913043rem + 3.9130434783vw ,5.625rem)) {
    .hero__main:not(:last-child) {
      margin-bottom: calc(2.8125rem + 2.8125 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.3532608696rem + 2.6086956522vw ,3.75rem)) {
    .hero__item:not(:last-child) {
      margin-bottom: clamp(1.875rem ,1.3532608696rem + 2.6086956522vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.3532608696rem + 2.6086956522vw ,3.75rem)) {
    .hero__item:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.9543478261rem + 1.4782608696vw ,2.3125rem)) {
    .hero__text p {
      font-size: clamp(1.25rem ,.9543478261rem + 1.4782608696vw ,2.3125rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.9543478261rem + 1.4782608696vw ,2.3125rem)) {
    .hero__text p {
      font-size: calc(1.25rem + 1.0625 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(1.5625rem ,1.0929347826rem + 2.347826087vw ,3.25rem)) {
    .hero__subtitle {
      font-size: clamp(1.5625rem ,1.0929347826rem + 2.347826087vw ,3.25rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,1.0929347826rem + 2.347826087vw ,3.25rem)) {
    .hero__subtitle {
      font-size: calc(1.5625rem + 1.6875 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.9543478261rem + 1.4782608696vw ,2.3125rem)) {
    .hero__icon p {
      font-size: clamp(1.25rem ,.9543478261rem + 1.4782608696vw ,2.3125rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.9543478261rem + 1.4782608696vw ,2.3125rem)) {
    .hero__icon p {
      font-size: calc(1.25rem + 1.0625 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.7945652174rem + 1.652173913vw ,2.3125rem)) {
    .banner__text {
      font-size: clamp(1.125rem ,.7945652174rem + 1.652173913vw ,2.3125rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.7945652174rem + 1.652173913vw ,2.3125rem)) {
    .banner__text {
      font-size: calc(1.125rem + 1.1875 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (margin-bottom:clamp(0.9375rem ,0.6766304348rem + 1.3043478261vw ,1.875rem)) {
    .characteristics__title:not(:last-child) {
      margin-bottom: clamp(.9375rem ,.6766304348rem + 1.3043478261vw ,1.875rem)
    }
  }
  @supports not (margin-bottom:clamp(0.9375rem ,0.6766304348rem + 1.3043478261vw ,1.875rem)) {
    .characteristics__title:not(:last-child) {
      margin-bottom: calc(.9375rem + .9375 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(1.5625rem ,0.7798913043rem + 3.9130434783vw ,4.375rem)) {
    .characteristics__title:not(:last-child) {
      font-size: clamp(1.5625rem ,.7798913043rem + 3.9130434783vw ,4.375rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,0.7798913043rem + 3.9130434783vw ,4.375rem)) {
    .characteristics__title:not(:last-child) {
      font-size: calc(1.5625rem + 2.8125 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.7945652174rem + 1.652173913vw ,2.3125rem)) {
    .characteristics__text p {
      font-size: clamp(1.125rem ,.7945652174rem + 1.652173913vw ,2.3125rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.7945652174rem + 1.652173913vw ,2.3125rem)) {
    .characteristics__text p {
      font-size: calc(1.125rem + 1.1875 * (100vw - 20rem)/ 71.875)
    }
  }
}
@media (min-width:47.99875em) and (max-width:91.875em) {
  @supports (font-size:clamp(2.8125rem ,0.6245851258rem + 4.558274693vw ,4.8125rem)) {
    .footer__title {
      font-size: clamp(2.8125rem ,.6245851258rem + 4.558274693vw ,4.8125rem)
    }
  }
  @supports not (font-size:clamp(2.8125rem ,0.6245851258rem + 4.558274693vw ,4.8125rem)) {
    .footer__title {
      font-size: calc(2.8125rem + 2 * (100vw - 47.99875rem)/ 43.87625)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,0.7126702231rem + 2.4215834307vw ,2.9375rem)) {
    .footer__title:not(:last-child) {
      margin-bottom: clamp(1.875rem ,.7126702231rem + 2.4215834307vw ,2.9375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,0.7126702231rem + 2.4215834307vw ,2.9375rem)) {
    .footer__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.0625 * (100vw - 47.99875rem)/ 43.87625)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.0251702231rem + 2.4215834307vw ,3.25rem)) {
    .footer__slogan {
      font-size: clamp(2.1875rem ,1.0251702231rem + 2.4215834307vw ,3.25rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.0251702231rem + 2.4215834307vw ,3.25rem)) {
    .footer__slogan {
      font-size: calc(2.1875rem + 1.0625 * (100vw - 47.99875rem)/ 43.87625)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.0545319222rem + 1.7093530099vw ,2.625rem)) {
    .description__title {
      font-size: clamp(1.875rem ,1.0545319222rem + 1.7093530099vw ,2.625rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.0545319222rem + 1.7093530099vw ,2.625rem)) {
    .description__title {
      font-size: calc(1.875rem + .75 * (100vw - 47.99875rem)/ 43.87625)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.3963936213rem + 0.9971225891vw ,2.3125rem)) {
    .description__content {
      font-size: clamp(1.875rem ,1.3963936213rem + .9971225891vw ,2.3125rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.3963936213rem + 0.9971225891vw ,2.3125rem)) {
    .description__content {
      font-size: calc(1.875rem + .4375 * (100vw - 47.99875rem)/ 43.87625)
    }
  }
  @supports (padding-top:clamp(7.5rem ,-1.3884041765rem + 18.5179909404vw ,15.625rem)) {
    .page__hero {
      padding-top: clamp(7.5rem ,-1.3884041765rem + 18.5179909404vw ,15.625rem)
    }
  }
  @supports not (padding-top:clamp(7.5rem ,-1.3884041765rem + 18.5179909404vw ,15.625rem)) {
    .page__hero {
      padding-top: calc(7.5rem + 8.125 * (100vw - 47.99875rem)/ 43.87625)
    }
  }
}
@media (min-width:47.99875em) and (max-width:61.99875em) {
  .banner__img--tablet {
    display: block
  }
}